.fl-builder .main {
    padding: 0;
}



h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

h2 {
  font-size: 90px;
  font-weight: 600;
}

h3 {
  font-weight: 200;
}

h4 {
  font-weight: 100;
}

#clients {

  img {
	filter: grayscale(100%);
  filter: brightness(.5) contrast(150%);
  //saturate(.5);
  }

  img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  //saturate(.5);
  }

}

.navbar-nav .caret {
display:none;
}

.dropdown:hover .dropdown-menu {
 display: block;
}

.grey-content-block {
  background-color: #ebeced;
  padding: 50px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;

  h3 {
    color: #00589e;
  }

  p, li {
    font-size: 18px;
    color: #333333;
  }
}

.white-content-block {
  padding: 50px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;

h3 {
    color: #00589e;

  }

  p, li {
    font-size: 18px;
    color: #333333;
  }
}

.header-image {
  font-weight: 100;


h2 {
    color: #f0c248;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
  }

  p, li {
    font-size: 24px;
    color: #ffffff;
  }
}

.header-content-block {
  padding: 50px 0px;
  font-weight: 300;


h2 {
    color: #f0c248;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
  }

  p {
    font-size: 24px;
    color: #333333;
  }

  li {
    font-size: 18px;
    color: #333333;
  }
}

.more-info-block {
  background-color: #00589e;
  color: #ffffff;
  padding: 50px 0px;


  h3 {
    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif;
font-size: 36px;
  }

  p {
    font-size: 16px;
    font-weight:100;
    font-family: 'Open Sans', sans-serif;

  }

  .fl-module-content .fl-icon,
  .fl-module-content .fl-icon i:before{
    display: table-cell;
    vertical-align: top;
    font-size: 50px !important;
}
}
