// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$font-bold:        "../fonts/GothamNarrow-Bold.otf";
$font-book:        "../fonts/GothamNarrow-Book.otf";
$font-light:        "../fonts/GothamNarrow-Light.otf";
$font-medium:        "../fonts/GothamNarrow-Medium.otf";
$font-thin:        "../fonts/GothamNarrow-Thin.otf";
$font-xlight:        "../fonts/GothamNarrow-XLight.otf";
