section {
  margin: 50px 0px;
  padding-left: 50px;
  float: left;
  width: 33%;
}



#onestream-footer {
  height: 200px;
  i {
  display: inline-block;
  margin: 50px auto;
  }
  .fa {
    font-size: 50px;
    height: 25px;
    width: 25px;
  }
  #footer-links {
    padding: 40px;
      font-weight: 400;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
  }
}

.content-info {
  a {
      color: $brand-lightblue;
      &:hover {
        color: $brand-darkblue;
      }
    }

    ul {
      list-style: none;
      padding: 0px;
      margin:0px;
    }
}
